<div class="container-fluid mt-5 about-style" id="aboutid">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                        <h1 class="text-center main-heading">About Us</h1>
                        <p class="text-center sub-heading">grow your BUSINESS with us</p>
                    <div class="row">
                        <div class="col-md-6 col-12 hero-text">
                                <figure>
                                    <img src="/images/about.svg" alt="herosection_img"/>
                                </figure>
                        </div>
                        {{!-- right side --}}
                        
                        <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                            <h2>WE ARE THE PROFESSIONALL DEVELOPERS</h2>
                            <P>Welcome to ,<span style="bold-style">Superior Alumni</span> 
                            We Provide Three sevices like Characteristics, Dependability and customer service uniqueness</P>
                            <button class="btn-style btn-primary">Read More</button>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>