<div class="container-fluid mt-5 contact-style"  id="contactid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact Us</h1>
            <p class="text-center sub-heading">We Will Be Happy to help you</p>
            <div class="row">

                <div class="col-md-6 col-12 mx-auto">
                    <form id="login-form" action="/contact" method="post">
                        <div class="form-group">
                            <label for="username" class="text-info">Name:</label><br>
                            <input type="text" id="username" class="form-control" required name="name" placeholder="Full name">
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-info">Email Address</label><br>
                            <input type="email" id="email" class="form-control" required name="email" placeholder="Enter your Email">
                        </div>
                        <div class="form-group">
                            <label for="number" class="text-info">Phone</label><br>
                            <input type="number" id="number" class="form-control" required name="phone" placeholder="Enter your Phone">
                        </div>
                        <div class="form-group">
                            <label for="message" class="text-info">Message</label><br>
                            <input type="text" id="message" class="form-control" required name="message" placeholder="Enter your Email">
                        </div>
                        
                        <button type="submit" class="btn-style btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>